[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui/
	branch = docking
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glew"]
	path = external/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/libtinyfiledialogs"]
	path = external/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs
[submodule "external/half"]
	path = external/half
	url = https://github.com/melowntech/half
